[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --socket-name /tmp/emacs%U/server --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
ExecStop=/bin/rm /tmp/emacs%U/server
User=%i
WorkingDirectory=%h
Environment=SSH_AUTH_SOCK=/run/user/%U/gnupg/S.gpg-agent.ssh
Restart=always

[Install]
WantedBy=default.target
Wants=gpg-agent.service
